:root {
    --dark-blue: #0B0C10;
    --twinkle-gold: #FFD700;
    --nebula-purple: #8A2BE2;
    --text-white: #F8F8F8;
    --primary-font: 'Courier New', Courier, monospace;
    --secondary-font: "Pacifico", cursive;
}

* {
    margin: 0 auto;
    font-family: var(--primary-font);
    background-color: var(--dark-blue);
    color: var(--text-white);
}

.planning-section {
    border-top: var(--text-white) solid 1px;
    padding: 5rem 0 6rem;
}

.contrast {
    color: var(--twinkle-gold);
}

.esthetical {
    font-family: var(--secondary-font);
}

h1,
h2,
h3 {
    color: var(--twinkle-gold);
}

h1 {
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
}

h2 {
    padding-bottom: 2rem;
}

body {
    width: 50%;
}

p {
    padding-left: 1rem;
}

.color-item {
    margin-bottom: 2rem;
}

.color-box {
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem 0;
}

.color-item p {
    padding: 0;
}

#dark-blue {
    background-color: var(--dark-blue);
    color: white;
    border: var(--text-white) solid 1px;
}

#twinkle-gold {
    background-color: var(--twinkle-gold);
    color: black;
}

#nebula-purple {
    background-color: var(--nebula-purple);
    color: white;
}

#text-white {
    background-color: var(--text-white);
    color: black;
}

.font-item {
    margin-bottom: 2rem;
}

.font-item p {
    margin-top: 0.5rem;
}

.wireframe h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
    border-bottom: thin solid var(--twinkle-gold);
}

#wireframes-title {
    text-align: center;
    font-size: 2rem;
}

.accent {
    color: var(--nebula-purple);
}

#mobile {
    width: 60%;
}

.wireframe img {
    width: 100%;
    height: auto;
    border: #0B0C10 solid 1px;
}