* {
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.planning-section {
    border-top: #0B0C10 solid 1px;
    padding: 5rem 0 6rem;
}

h1 {
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
}

h2 {
    padding-bottom: 2rem;
}

body {
    width: 50%;
}

p {
    padding-left: 1rem;
}

.color-item {
    margin-bottom: 2rem;
}

.color-box {
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem 0;
}

.color-item p {
    padding: 0;
}

#dark-blue {
    background-color: #0B0C10;
    color: white;
}

#twinkle-gold {
    background-color: #FFD700;
    color: black;
}

#nebula-purple {
    background-color: #8A2BE2;
    color: white;
}

#text-white {
    background-color: #F8F8F8;
    color: black;
}

.font-item {
    margin-bottom: 2rem;
}

.font-item p {
    margin-top: 0.5rem;
}

.wireframe h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;

}

#wireframes-title {
    text-align: center;
    font-size: 2rem;
}

#mobile {
    width: 60%;
}

.wireframe img {
    width: 100%;
    height: auto;
    border: #0B0C10 solid 1px;
}