:root {
    --primary-color: rgb(0, 31, 90);
    --secondary-color: rgb(254, 254, 254);
    --fade-color: rgba(254, 254, 254, 0.705);
    --accent-color: rgb(185, 11, 46);
}

* {
    margin: 0 auto;
}

body {
    font-family: "Marcellus", serif;
}

h1,
h2,
h3 {
    font-family: "Uncial Antiqua", system-ui;
}

h1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.8rem;
    border-bottom: 1rem solid var(--accent-color);
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

#hero-image {
    display: block;

}

#hero-image img {
    width: 100%;
    height: auto;
    border-bottom: 0.7rem solid var(--primary-color);
}

#table-holder {
    margin-bottom: 2rem;
}

table {
    margin: 1rem auto;
    width: 100%;
    text-align: center;
}

caption {
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

th {
    text-align: end;
    width: 10rem;
}

td {
    text-align: start;
    width: 10rem;
}



#weather-section h2 {
    text-align: center;
}


#weather-section img {
    display: block;
    width: 7rem;
    margin-top: 1rem;
}

footer {
    margin-top: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1.5rem 0;
}